<link rel="stylesheet" href="https://use.typekit.net/pfn5fsp.css">


.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
}


.alerts {
    margin-top: -2vh;
    position: absolute;
    background-color: #F5A039;
    height: 11vh;
    width: 100vw;
    text-align: center;
    font-size: 2em;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}




.two_sides {
    display: grid;
    grid-template-columns: 11.34fr 7.86fr;

}






.left{
    margin-top: 5vh;
    background-color: #7EBFD9 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .05fr .5fr .1fr .2fr .1fr .3fr 1fr;
    height: 250vh;
}

.one{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: vh;
}

.location_zip_date{
    text-align: left;

}

.location{
    margin-top: -6vh;
    margin-left: 5vw;
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7em;
    kerning: auto;
}

.zip{
    color: #348ABF;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -6.5vh;
    margin-left: 5.1vw;
    font-size: 2em ;
    kerning: auto;
}

.date{
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5vw;
    margin-top: -1.7vw;
    font-size: 2em;
    kerning: auto;
}

.icon_lildescrip{
    text-align: right;
    height: 10vh;
}

.lildescrip{
    display: grid;
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 5vw;
    margin-top: 8.3vw;
    font-size: 1.5em;
    kerning: auto;
}

.date_specific{
    margin-top: -4vh;
    font-size: .8em;
}



.two{
    background-color: #FFD148;
    margin:auto;
    height: 38vh;
    width: 110vh;
    display: grid;
    grid-template-columns: .5fr 1fr;
    
}

.current-temp{
    margin-top: -15vh;
    margin-left: 3vw;
    color: #3D3D3D;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13em;
    kerning: auto;
    line-height: 0vh;
    z-index: 60;
    text-align: center;
}

.high_low_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -15vh;
    margin-left: 0vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.5em;
    kerning:auto;
    line-height: 0vh;
    text-align: center;
}


.high_high{
    text-align: right;
}

.low_low{
    margin-left: .7vw;
    text-align: left;
}





.right_temp{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.feels_like{
    letter-spacing: .05em;
    margin-top: 1vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
}

.humidity{
    letter-spacing: .05em;
    margin-top: -7vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 1vh;
}

.idk_man {
    text-align: center;
    margin-left: 9vw;
    font-size: 3em;
    margin-top: 0vh;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.line{
    margin: auto;
    margin-top: 3.5vh;
    height: .2vh;
   width: 40vw;
   background-color: white;
}




.three{
    margin-left: auto;
    height: 20vh;
    width: 100vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: .6fr 1fr;
}

.precip{
    margin-top: -3vh;
    margin-left: 2vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.precip_type{
    margin-top:5vh;
    margin-left: 2vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.5em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.precip_amount{
    margin-top: 5vh;
    margin-left:2vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.5em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.three_right{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.visibility{
    margin-top: -1.5vh;
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.wind{
    margin-top: -1.5vw;
    display: grid;
    grid-template-columns: .5fr 6fr;
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.wind_info{
    margin-left: 0.2vw;
    margin-top: 3vh;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: .5em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
    
}


.coordinates{
    margin-top: -2.3vw;
    margin-left: 4.6vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.long_description{
    margin-top: -6vh;
    margin-left: 0vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    text-align: center;
    color: #3A6992;
}

.radar{
    margin: auto;

}

.four{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.four_left{
    grid-template-columns: 1fr 1fr;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal; 

}

.sunrise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15vw;
    margin-top: 8vh;
    margin-left: 10vw;
    color: #FFD148;
    font-size: 2em;
    text-align: left;
}

.sunny{
    margin-top: 3vh;
    margin-left: 1vh;
    color: #3A6992;
    font-size: 1.3em;
    text-align: left;
}

.sunset{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15vw;
    margin-top: -7vh;
    margin-left: 10vw;
    color: black;
    font-size: 2em;
    text-align: left;
}

.set{
    margin-left: .8vw;
}

.setty{
    margin-top: 3vh;
    margin-left: 0vh;
    color: #3A6992;
    font-size: 1.3em;
    text-align: left;
}

.line:nth-of-type(2){
    width: 12vw;
    margin-left: 12vw;
    margin-top: -2vh;
}

.four_left_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 12vw;
    color: white;
    font-size: 2em;
    text-align: left;
}

.phase{
    color: black;
    font-size: .7em;
    text-align: left;
}

.four_right{

    margin-top: 12vh;
    margin-left: 1vw;
    background-color: #F5A039;
    width: 17vw;
    height: 37vh;
}

.table{
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
}

.table_left{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    text-align: right;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal; 
}

.vertical_line{
    margin-left: 1vw;
    margin-top: 2vh;
    border-left: .1vw solid white;
    height: 34vh;
}

.table_right{
    margin-left: 1vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: #3A6992;
    text-align: left;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal; 
}



.right{
    margin-top: 9vh;
    background-color: #B6DAE8;
}

.hourly{

}


.forecast_chart{
    display: grid;

    grid-template-columns: 2fr .1fr 1fr;
}
.fore_date{
    text-align: left;
    margin-left: 1vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1em;
}

.fore_one_left{
    text-align: right;
    margin-right: .1vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1em;
    margin-left: 1vw;
}

.forecast_one_left{
    color: #7EBFD9;
    font-size: 2em;
    line-height: .5vh;
}

.fore_precip{
    color: #7EBFD9;
    font-size: 1.3em;
    line-height: .5vh;
}


.fore_cc{
    color: #7EBFD9;
}

.fore_bigdescrip{
    color: #7EBFD9;
}

.fore_wind{
    color: #7EBFD9;       
}



.fore_one_right{
    margin-top: 4.4vh;
    margin-right: 2vw;
    color: #7EBFD9;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1em;
    margin-left: 1vw;
}

.vertical_line2{
    margin-left: 1vw;
    margin-top: 8vh;
    border-left: .1vw solid white;
    height: 35vh;
}

.fore_one_high_low{
    margin-top: 5vh;
    color: white;
    font-size: 1.5em;
}

.fore_one_humidity{
    margin-top: -2vh;
}

.forecast_two{
    margin-top: 5vh;
}