<link rel="stylesheet" href="https://use.typekit.net/pfn5fsp.css">


.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
}


.alerts {
    margin-top: 0vh;
    position: absolute;
    background-color: #F5A039;
    height: 10vh;
    width: 100vw;
    text-align: center;
    font-size: 2em;
}




.two_sides {
    display: grid;
    grid-template-columns: 11.34fr 7.86fr;

}






.left{
    margin-top: 5vh;
    background-color: #7EBFD9 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .05fr .5fr .3fr .5fr 1fr 1fr 1fr;
    height: 200vh;
}

.one{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: vh;
}

.location_zip_date{
    text-align: left;

}

.location{
    margin-top: -2vh;
    margin-left: 3vw;
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    kerning: auto;
}

.zip{
    color: #348ABF;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -5.3vh;
    margin-left: 3.1vw;
    font-size: 2em ;
    kerning: auto;
}

.date{
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 3vw;
    margin-top: -1.7vw;
    font-size: 2em;
    kerning: auto;
}

.icon_lildescrip{
    text-align: right;
    height: 10vh;
}

.lildescrip{
    color: #0D3D68;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 3vw;
    margin-top: 8.8vw;
    font-size: 1.5em;
    kerning: auto;
}




.two{
    background-color: #FFD148;
    margin:auto;
    height: 36vh;
    width: 110vh;

    display: grid;
    grid-template-columns: .6fr 1fr;
    
}

.current-temp{
    margin-top: -17vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13em;
    kerning: auto;
    line-height: 0vh;
}

.high_low {
    margin-top: -10vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
}


.right_temp{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.feels_like{
    letter-spacing: .05em;
    margin-top: 1vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
}

.humidity{
    letter-spacing: .05em;
    margin-top: 1vh;
    margin-left: 4vw;
    color: #3D3D3D;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
}

.idk_man {
    text-align: center;
    margin-left: 9vw;
    font-size: 3em;
    margin-top: -3vh;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.line{
    height: 5vh;
}

.three{
    margin: auto;
    background-color: #FFD148;
    height: 20vh;
    width: 110vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: .6fr 1fr;
}

.precip{

    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.precip_type{
    margin-top:5vh;
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.5em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.precip_amount{
    margin-top: 5vh;
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.5em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.three_right{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.visibility{
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.wind{
    display: grid;
    grid-template-columns: .5fr 6fr;
    margin-left: 4.5vw;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 2em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}

.wind_info{
    margin-left: 1vw;
    margin-top: 5vh;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: .4em;
    kerning:auto;
    line-height: 0vh;
    color: #3A6992;
}



.right{
    margin-top: 10vh;
    background-color: #B6DAE8;
}